
.box {
    width: 80%;
    height: 250px;
    margin-left: 0px;
    .border {
        position: relative;
        perspective: 40em;
        display: grid;
        transform-style: preserve-3d;
    }
    .card {
        grid-area: 1 / 1;
        height: 250px;
        width: 170px;
        transform: translateX(-20px) rotateY(15deg) rotateX(10deg);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        backface-visibility: hidden;
        box-shadow: 0 10px 30px -3px rgba(0,0,0);
        .myFoto {
            grid-area: 1 / 1;
            width: 100%;
            height: 260px;
            svg {
                grid-area: 1 / 1;
                width: 100%;
                height: 100%;
                
            }
        }
    }
    .border:before {
        --bw: 1px;
        grid-area: 1 / 1;
        content: '';
        backface-visibility: hidden;
        height: 100%;
        width: 100%;
        margin-top: calc(-1 * var(--bw));
        margin-left: calc(-1 * var(--bw));
        background: transparent;
        transform: translateX(10px) rotateY(-10deg) rotateX(5deg) scale(1.03);
        pointer-events: none;
        box-sizing: content-box;
    }
    .border:hover > div,
    .border:hover:before {
        transform: none;
    }
    .border > div,
    .border:before {
        will-change: transform;
        transition: .5s transform cubic-bezier(.25,.46,.45,1);
    }
}