$p: rgb(0, 157, 255); // <p> color with <a>
.continue {
    display: grid;
    height: 100vh;
    justify-content: center;
    color: rgb(242, 242, 242);
    background-color: black;
    h1 {
        display: grid;
        align-self: center;
    }
}

.container {
    width: 100%;
    height: 100%;
    span {
        position: relative;
        float: left;
        height: 20px;
        margin-left: 10px;
        line-height: 14px;
        color: rgb(15, 143, 255);
        padding: 5px 20px;
        font-weight: bold;
        text-shadow: 2px 2px rgb(215, 215, 215);
        background-repeat: no-repeat;
    }
    .lang {
        display: block;
        width: 100%;
        height: 49%;
        float: left;
        margin-left: 2%;
        margin-top: 5px;
    }
    .logo {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 20px;
        width: 300px;
        font-weight: bold;
    }
    .text {
        position: relative;
        display: grid;
        width: 100%;
        height: 270px;
        padding: 5px 5px 0px 10px;
        letter-spacing: 1px;
        margin-right: 0px;
        font-size: 14px;
        line-height: 15px;
        // text-shadow: 2px 2px #dadada;
        text-align: left;
        border-left: 1px solid rgb(36, 160, 255);
        // word-break: break-all;
    }
    .text::after {
        content: '\201C';
        position: absolute;
        display: flex;
        justify-content: center;
        width: 15px;
        height: 15px;
        background-color: rgb(255, 255, 255);
        top: 50px;
        left: -8px;
        font-size: 30px;
        line-height: 30px;
        border-radius: 10px;
    }
    .all {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        float: left;
    }
    .links {
        width: 100%;
    }
    .contact {
        display: block;
        width: 100%;
        height: 50%;
        margin-top: 30px;
        .fa {
            width: 23px;
            height: 23px;
            margin-right: 10px;
            font-size: 18px;
            text-align: center;
            background-color: rgb(201, 201, 201);
            padding-top: 3px;
            color: rgb(255, 255, 255);
        }
        .fa:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 145, 255);
            transition: 0.5s;
        }
        p {
            position: relative;
            width: 100%;
            margin-bottom: 2px;
            text-align: left;
            font-size: 14px;
            float: left;
            color: $p;
            a {
                position: absolute;
                text-decoration: none;
                margin-top: -1px;
                color: $p;
                letter-spacing: 1.5px;
                font-weight: bold;
            }
        }
        a:hover {
            color: rgb(0, 105, 216);
        }
    }
    div {
        display: inline-block;
        padding: 2px 0px;
    }
    .ico {
        display: inline-block;
        width: 55px;
        padding: 5px 0px;
        svg {
            width: 30px;
            height: 30px;
            margin-left: calc(25px - 10px);
            background-position: center center;
            background-repeat: no-repeat;
        }
        p {
            text-align: center;
            font-size: 10px;
            margin-top: 3px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 17px;
            color: rgb(72, 72, 72);
        }
    }
}