.timeline {
    display: inline-block;
    width: 100%;
    height: 90%;
    // border: 1px dashed black;
    .timeBox {
        display: inline-block;
        width: 24.5%;
        height: 100%;
        // padding: 2px;
        background-color: rgb(137, 227, 255);
        h3 {
            text-align: center;
            padding: 0;
            margin: 0;
            border-bottom: 1px dashed rgb(255, 255, 255);
            line-height: 20px;
        }
        p {
            text-align: center;
            font-size: 12px;
        }
        .boxy {
            float: left;
            width: calc(98% / 2);
            text-align: center;
            height: 49.5%;
            margin: 1px;
            background-color: rgb(255, 255, 255);
        }
    }
}