$fields: rgb(238, 238, 238); // BOX field color

.wrapper { 
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    
}
#page {
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
        "q t t t t"
        "l a a a r"
        "l a a a r"
        "l b b b r"
        "x x x x x"
    ;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }
#page > .qr {
    width: 100%;
    height: calc(100vh / 5);
    grid-area: q;
  }
  #page > .title {
    grid-area: t;
  }  
  #page > .left {
    grid-area: l;
  }
  #page > .right {
    grid-area: r;
  } 
  #page > .area {
    grid-area: a;
  } 
  #page > .bottom {
    grid-area: b;
    background-color: $fields;
  } 
  #page > .x {
    grid-area: x;
    background-color: $fields;
  }
  #page > .nav {
    display: none;
  }

@media only screen and (max-width: 600px) {
    .wrapper { 
      width: 98%;
      height: 100%;
      padding: 0px 2px;
        .container {
          span {
            width: 100px;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          .lang {
            display: block; 
            width: 48%;
            height: 100%;
            float: left;
            margin-left: 0%;
          }
          .lang:last-of-type {
            float: right;
          }
          .text {
            height: auto;
            margin: 0;
          }
          .all {
            margin-top: 0px;
            padding: 15px;
          }
          .meniu {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 30px;
            text-align: center;
            padding-top: 15px;
            float: right;
            .fa {
              font-size: 30px;
              color: rgb(0, 0, 0);
            }
          }
          .nav_title {
            display: inline-block;
            width: 100px;
            height: 30px; 
            text-align: center; 
            background-color: rgb(208, 208, 208);
            color: rgb(0, 0, 0);
            float: left;
            font-weight: bold;
            border-radius: 0px 0px 7px 7px;
          }
          .nav_title:hover {
            background-color: rgb(24, 24, 24);
            color: white;
          }
        }
    }
    #page {
        grid-template-areas:
            "n n n"
            "l l l"
            "t t t"
            "a a a"
            "r r r"
            "b b b"
            "x x x"
            
        ;
        grid-gap: 1px;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        .box {
          display: block;
          width: 50%;
          height: 100%;
          float: left;
        }
        .contact {
          display: block;
          width: 50%;
          height: 100%;
          float: left;
          p {
            margin-top: 10px;
          }
        }
      }
      #page > .qr {
        display: none;
        width: 100%;
        height: calc(100vh / 5);
        grid-area: q;
        background-color: white;
      }
      #page > .title {
        width: 100%;
        grid-area: t;
      }
      #page > .left {
        width: 100%;
        height: 300px;
        grid-area: l;
      }
      #page > .right {
        width: 100%;
        height: 300px;
        grid-area: r;
      } 
      #page > .area {
        width: 100%;
        margin-bottom: 30px;
        grid-area: a;
      } 
      #page > .bottom {
        width: 100%;
        height: 200px;
        grid-area: b;
      } 
      #page > .x {
        width: 100%;
        height: 300px;
        grid-area: x;
      }
      #page > .nav {
        display: inline-block;
        width: 100%;
        height: 60px;
        grid-area: n; 
      } 
    }

@media only screen and (max-width: 1000px) and (min-width: 601px)  {
      .wrapper {
        height: 100%;
        padding: 0px 6px;
        .container {
          .lang {
            display: block; 
            width: 48%;
            height: 100%;
            float: left;
            margin-left: 0%;
          }
          .lang:last-of-type {
            float: right;
          }
          .box {
            height: 80%;
            width: 200px;
            margin-top: 20px;
          }
          .text {
            min-height: 64.5%;
            margin-bottom: 20px;
          }
          .contact {
            margin-top: 10px;
          }
          .all {
            margin-top: 52px;
            width: 100%;
            height: 100%;
            float: left;
          }
        }
      }
      #page {
        display: grid;
        grid-gap: 2px;
        grid-template-areas:
            "q t t t t"
            "l a a a a"
            "l a a a a"
            "r r r r r"
            "b b b b b"
            "x x x x x"
        ;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(5, 1fr);
      }
      #page > .qr {       
        width: 100%;
        height: 100%;
        margin-top: 10px;
        grid-area: q;
      }
      #page > .title {       
        width: 100%;
        height: 100px;
        grid-area: t;
      }
      #page > .left {
        width: 100%;
        height: 500px;
        margin-bottom: 120px;
        grid-area: l;
      }
      #page > .right {
        width: 100%;
        grid-area: r;
      } 
      #page > .area {
        width: 100%;
        grid-area: a;
      } 
      #page > .bottom {
        width: 100%;
        grid-area: b;
      } 
      #page > .x {
        width: 100%;
        grid-area: x;
      }
      #page > .nav {
        display: none;
        width: 100%;
        height: 60px;
        grid-area: n;
      }
    }


  






  