$fields: rgb(238, 238, 238);

.wrapper { 
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
#page {
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
        "q t t t t"
        "l a a a r"
        "l a a a r"
        "l b b b b"
        "x x x x x"
    ;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }
#page > .qr {
    width: 100%;
    height: calc(100vh / 5);
    grid-area: q;
    background-color: white;
  }
  #page > .title {
    grid-area: t;
    background-color: transparent;
  }  
  #page > .left {
    grid-area: l;
    background-color: $fields;
  }
  #page > .right {
    grid-area: r;
    background-color: $fields;
  } 
  #page > .area {
    grid-area: a;
    background-color: $fields;
  } 
  #page > .bottom {
    grid-area: b;
    background-color: $fields;
  } 
  #page > .x {
    grid-area: x;
    background-color: $fields;
  }


  @media only screen and (max-width: 600px) {
    .wrapper { 
        margin: 0px 2px;
    }
    #page {
        grid-template-areas:
            "q t t"
            "l l l"
            "a a a"
            "r r r"
            "b b b"
            "x x x"
        ;
        grid-gap: 1px;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
      }
      #page > .qr {
        width: 100%;
        height: calc(100vh / 5);
        grid-area: q;
        background-color: white;
      }
      #page > .title {
        width: 100%;
        // height: calc(100vh / 5);
        grid-area: t;
      }
      #page > .left {
        width: 100%;
        height: 200px;
        grid-area: l;
      }
      #page > .right {
        width: 100%;
        height: 200px;
        grid-area: r;
      } 
      #page > .area {
        width: 100%;
        height: 400px;
        grid-area: a;
      } 
      #page > .bottom {
        width: 100%;
        height: 200px;
        grid-area: b;
      } 
      #page > .x {
        width: 100%;
        height: 150px;
        grid-area: x;
      }
    }

  






  