
@import url(//fonts.googleapis.com/css?family=Open+Sans);

$p: rgb(72, 72, 72); // <p> color with <a>

body {
    background-color: rgb(254, 254, 254);
    .wrapper {
        background-color: transparent;
    }
}
.qr {  
    img {
        margin-top: 15px;
        width: 80%;
        height: 80%;
    }
}
.area > p {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.area_Field {
    width: 300px;
    height: 100px;
    margin-left: calc(50% - 150px);
    margin-top: 100px;
    h1 {
        border: 1px dashed rgba(0, 0, 0, 0.5);
        border-radius: 10px 0px 10px 0px;
        color: rgb(1, 1, 1);
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
    p {
        color: rgba(255, 0, 0, 0.8);
        margin-left: calc(50% - 100px);
        font-size: 10px;
        padding: 10px;
    }
}

.container {
    width: 100%;
    height: 100%;
    span {
        display: block;
        width: 100px;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        color: rgb(11, 11, 11);
        h3 {
            margin-top: 10px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .lang {
        display: block; 
        width: 100%;
        height: 49%;
        float: left;
        padding-top: 20px;
        margin-left: 2%;
        // margin: 2px;
    }
    span:nth-child(1) {
        width: 200px;
    }
    .box {
        display: block;
        width: 100%;
        height: 60%;
        background: url(/img/IM.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px 0px 0px 20px;
    }
    .text {
        display: grid;
        width: 97%;
        min-height: 250px;
        grid-template-columns: 1fr;
        height: 200px;
        margin-left: 10px; // ???
        font-family: 'Open Sans', sans-serif;
        padding: 15px;
        border: 1px dashed rgb(84, 84, 84);
        font-size: 17px;
        line-height: 19px;
    }
    .all {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        float: left;
    }
    .links {
        width: 100%;  
    }
    .contact {
        display: block;
        width: 100%;
        height: 40%;
        .fa {
            width: 20px;
            height: 20px;
            float: left;
            margin-right: 20px;
            font-size: 18px;
            text-align: center;
            background-color: rgb(201, 201, 201);
            padding-top: 3px;
            color: rgb(255, 255, 255);
        }
        .fa:hover {
            background-color: rgb(255, 255, 255); 
            color: rgb(0, 145, 255); 
            transition: 0.5s;
        }
        p {
            width: 100%;
            font-size: 10px;
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            float: left;
            font-family: 'Open Sans', sans-serif;
            color: $p;
            a {
                text-decoration: none;
                font-weight: bold;
                color: $p;
            }           
        } 
        a:hover {
            color: rgb(45, 175, 255);
        } 
    }
    div {
        display: inline-block;
        padding: 2px 0px; 
    }
    .ico {
        display: inline-block;
        width: 55px;
        padding: 5px 0px; 
        img {
            width: 30px;
            height: 30px;
            margin-left: calc(25px - 10px);
            background-position: center center;
            background-repeat: no-repeat;
        }
        p {
            text-align: center;
            font-size: 10px;
            margin-top: 3px;
            font-weight: bold;
        }
    }
}